<h1>End the Current Posse Cup Contest</h1>

<h3>Clicking this button will end the current posse cup,
  declaring the leading posse as the winner. Additionally
  it will archive all points in the current contest,
  resetting each posse's total to 0.</h3>

<%= button_to "End Current Posse Cup", admin_cups_path %>
